.Todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 5%;
    margin-top: -3%;
    
}
.TodoHeader{
    font-size: 30px;
    font-weight: bold;
}
.TodoList{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    background-color: aquamarine;
    overflow-y: auto;
}
.TodoList li{
    list-style: none;
    padding: 10px;
    border: 2px solid black;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    width: 70%;
    height: 10%;
    border: 3px solid black;
    margin: 1%;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}
button{
    width: 25%;
    height: 11%;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bold;
    background-color: aquamarine;
}